* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  
}

@-moz-keyframes appear {
    from {
        margin-right: 100%; 
        width: 300%
    }
    to {
        margin-right: 0%; 
        width: 100%;
    }
}

@-webkit-keyframes appear {
    from {
        margin-right: 100%; 
        width: 300%
    }
    to {
        margin-right: 0%; 
        width: 100%;
    }
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Steph', sans-serif;
    background-color: rgb(95, 158, 160);
}

nav {
    background-color: rgb(50, 92, 121);
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

nav .left a {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a {
    color: black;
    font-size: 1.375rem;
    margin: 0 0.625rem;
}

nav .right a:hover {
    color: blue;
    transition: color 0.3s ease-in-out;
}

section {
    min-height: 80vh;
    display: flex;
}

section h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    position: relative;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -moz-animation-name: appear;
    animation-name: appear;
    -webkit-animation-name: appear;
}


#about-section {
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

#about-section .headshot {
    width: 20rem;
    height: 20rem;
    border-style: double;
    overflow: hidden;
    margin-top: 2rem;
    margin-bottom: 52px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about-section .headshot img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

#about-section .headshot img:hover {
    transform: scale(1.6);
}

#about-section .bio p {
    font-size: 1.25rem;
    font-weight: 300;
}

#about-section .bio {
    margin-bottom: 1rem;
    padding: 0 2rem;
    max-width: 56.25rem;
}

#about-section .social-links i {
    font-weight: 500;
    color: rgb(50, 92, 121);
}

#projects-section {
    text-decoration: none;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

#projects-section h2 {
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 2.75rem;
    font-weight: 700;
}

#projects-section h3 {
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
}

.project-subsection {
    width: 100%;
    margin-bottom: 4rem; /* Add space between subsections */
}

.projects-scroll-container {
    text-decoration: none;
    display: flex;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 1600px;
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    margin: 0 auto;
}


.project-box {
    text-decoration: none;
    flex: 0 0 16rem; /* Fixed width for the boxes */
    text-align: center;
    border: 1px solid rgb(50, 92, 121);
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: rgb(50, 92, 121);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling */
}

.project-box:hover {
    transform: scale(0.95); /* Grow the box slightly on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-box img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

.project-box h4 {
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

.project-box h5 {
    color: white;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.project-box p {
    color: white;
    font-size: 1rem;
    font-weight: 300;
}

.swiper-slide {
    width: 272px !important;
    height: 375.75px;
}

.swiper-slide > a {
    display: block;
    transform: scale(0.9);
    width: 272px;
    height: 375.75px;
}